<!--  // created by Chintan Patel at 20230927 20:00.
// 
// Student ID - 301361215-->
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous"/>
  <link rel="stylesheet" href="Scripts/main.css" />
  <!-- head section -->
  <%- include ('partials/head.ejs') %>
  <body>
    <!-- header section -->
    <%- include ('partials/main_nav.ejs') %>

    <main class="container c-container mt-5 mb-5 pb-5">
      <section class="d-flex flex-wrap justify-content-center justify-content-md-between">
        <picture class="flex-shrink-0 c-avatar order-md-1 mb-3 mb-md-0">
          <img
            src="img/Wobot2.jpg"
            alt="my picture"
            width="100%"
            class="object-fit-cover rounded-circle"
          />
        </picture>
        <article class="c-bio-container order-md-0 text-center text-md-start">
          <h1 class="display-4">About Me</h1>
          <ul class="lead list-style-none mt-4 text-body">
            <li>
              Hey there! I'm Chintan R. Patel, a Senior Computer Vision Engineer on a journey
              to decode pixels and make machines see magic. 
              Currently mastering AI at Centennial College!
            </li>
          </ul>
          <a href="https://drive.google.com/file/d/1s-RmPhWN6jpU5ueYDUoqvNpNy582j1KG/view?usp=drive_link" class="btn btn-light mt-4" download>Download Resume</a>
        </article>
      </section>
    </main>

    <!--footer section-->
    <%- include ('partials/footer.ejs') %>

    <!--script section-->
    <%- include ('partials/scripts.ejs') %>

  </body>
</html>
