<!--  // created by Chintan Patel at 20230927 20:00.
// 
// Student ID - 301361215-->
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <!-- CSS -->
  <link rel="stylesheet" href="Scripts/main.css" />
  <!-- head section -->
  <%- include ('partials/head.ejs') %>
  <body>
    <!-- header section -->
    <%- include ('partials/main_nav.ejs') %>

    <main class="container c-container mt-5">
      <div class="jumbotron text-center">
        <p class="m-3 text-secondary-emphasis">Bonjour! It's so nice to see you here!</p>
        <h1 class="display-4">I'm Chintan Patel.</h1>
        <p class="lead mt-4 text-body">
          Senior Computer Vision Engineer dedicated to solving real-world challenges with AI. 
          I transform data into solutions that redefine possibilities. Let's embark on an AI-powered journey together. 
        </p>
        <p class="lead mt-4 text-body">Welcome to my digital playground!</p>

        <p class="lead mt-4 text-body"><b><em>Crafting exceptional digital experiences with a passion for innovation and a commitment to excellence.</em></b></p>
        <a class="btn btn-outline-light mt-4" href="/about" role="button">View Profile</a>
        <a class="btn btn-outline-light mt-4" href="/projects" role="button">View Projects</a>
      </div>
    </main>

    <!--footer section-->
    <%- include ('partials/footer.ejs') %>

    <!--script section-->
    <%- include ('partials/scripts.ejs') %>
  </body>
</html>
